
 h2 {
    /* padding-left: 10%; */
    font-size: 30px;
    width:fit-content;
    /* padding: 10px; */
    /* padding-left: 1rem; */

 }

 p {
    /* padding: 30px; */
    /* padding-left: 12%; */
    /* padding-right: 12%; */
    text-align:left;
    max-width: 1000px;
    font-size: medium;
    /* position:relative; */
  
  }

.intro-text{
    color: black;
    font-size: 20px;
    font-family: var(--tfont);
    font-weight: 400;
    letter-spacing: .60px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Box At The Bottom */

.values-goals-wrapper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   /* border: 1px solid black; */
   width: 100%;
}

.values, .goals {
   flex: 1;
   min-width: 300px;
   padding: 20px;
   box-sizing: border-box;
   margin-right: 10px;
   /* border-right: 1px solid black; */
   /* padding: 30px; */
    padding-left: 12%;
    /* padding-right: 12%; */
    text-align:left;
    max-width: 1000px;
    font-size: medium;
    position:relative;
}

.goals {
   border-right: none; /* remove right border on last item */
}

.values h2, .goals h2 {
   font-weight: bold;
   font-size: 1.5em;
}

ul, ol{
   padding-left: 2rem;
}

@media (max-width: 768px) {
   .values-goals-wrapper {
   flex-direction: column;
   overflow-wrap: anywhere;
   display: flex;
   }

   .values, .goals {
   /* border-right: none; */
   /* border-bottom: 1px solid black; */
   flex-direction: column;
   overflow-wrap: anywhere;
   display: flex;
   /* margin-right: 10px; */
   }

   .goals {
   border-bottom: none;
   }
}