.bullet{
   display: flex;
   width: 100%;
   min-height: auto;
   align-items: center;
   justify-content: center;
   gap: 20px;
   position: relative;
   margin: 0 auto;
   padding-left: 10%;
   padding-right: 10%;
   flex-wrap: wrap;
}

.bullet p{
   color: black;
   font-size: 32px;
   font-family: Montserrat;
   font-weight: 400;
   letter-spacing: 1.60px;
   padding: 20px;
   text-align: center;
   margin: 0;
}

.aero-bullet{
   /* color: #2A6790; */
   color:black;
   font-size: 46px;
   font-family: Limelight;
   font-weight: 400;
   word-wrap: break-word;
}
.princeton-bullet{
   color: #E67725;
   font-size: 46px;
   font-family: Rajdhani;
   font-weight: 400;
   letter-spacing: 4px;
   word-wrap: break-word;
}
/* 
.bullet-image{
   width: 100%;
   max-width: 504px;
   min-width: 300px;
   height: auto;
   overflow:hidden;
   padding: 0;
   margin: 15px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
} */

/* .bullet-image img{
   height: auto;
   width: 300px;
   left: 0;
   position: relative;
   object-fit: contain;
   transform: translateX(-30px);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 12px;
} */

.bullet-image {
   margin-top: 20px;
               
   max-width: 480px;
   max-height: 300px;
   overflow: hidden;          /* Crop the overflow */
   border-radius: 12px;       /* Apply rounded corners */
   display: inline-block;
   /* position: relative; */
   box-shadow: 0 0 5px rgb(0,0,0);

   width: 50vw;
   height: 30vw;
   scale: 1;

   border-radius: 12px;
   object-position: center;
   align-items: center;
   justify-content: center;
}

.bullet-image img {
   object-position: center;
   align-items: center;
   justify-content: center;

   height: 105%;
   min-width: 105%;
   object-fit:fill;
   left: 50%;
   position:relative;
   transform: translate3d(-50%, -1%, 0);
   border-radius: 12px;
}

.sub-heading{
   width: 441px;
   color: var(--orange);
   font-size: 64px;
   font-family: Montserrat;
   font-weight: 700;
   text-decoration: underline;
   letter-spacing: 3.20px;
   word-wrap: break-word;
}

.bullet a:hover{
   color: var(--accent);
}

.bullet-about-us{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding-bottom: 50px;

   display: flex;
   flex-direction: row;     /* image and text side-by-side */
   align-items: center;
   justify-content: center;
   gap: 20px;
   padding-bottom: 50px;
   flex-wrap: wrap;
}

.bullet-about-us p{
   color: black;
   font-size: 30px;
   font-family: Montserrat;
   font-weight: 400;
   letter-spacing: .60px;
   /* padding: 1000px; */
   
}



.main-para {
   padding: 20px 5%;
   z-index: 1;
   font-size: 64px;
   position: absolute;
}

.body {
   overflow: hidden;
}
/* .bullet, .bullet-image, .pages, .links {
   max-width: 100vw;
} */

.text-para {
   padding: 50px;
}

@media (max-width: 768px) {
   .bullet {
     flex-direction: column;
     align-items: center;
     text-align: center;
     font-size: 12px;
     flex-wrap: wrap;
     margin-top: 20px;
     padding: 0 5% 0 5%;
   }
 
   /* .bullet-image {
     margin-bottom: 15px;
   } */
 
   .bullet p {
     margin: 0;
     padding: 0px;
     font-size: 16px;
     letter-spacing: 1px;
   }

   .main-para{
      font-size: 36px;
      padding: 20px; 
   }

   .aero-bullet, .princeton-bullet {
     font-size: 50px;
     letter-spacing: 1px; 
   }
   .text-para p {
      font-size: 16px;
    }
}

@media (max-width: 270px) {
   .aero-bullet, .princeton-bullet {
      font-size: 24px;
      letter-spacing: 1px; 
    }
}

/**************/
/* BACKGROUND */
/**************/
/* .bgImage {
   background-color: #ffffff;
   opacity: 1;
   background-image:  linear-gradient(#537fff 2.1px, transparent 2.1px), linear-gradient(to right, #537fff 2.1px, #ffffff 2.1px);
   background-size: 42px 42px;
} */