:root {
  --line-color: rgba(199, 73, 0, 0.291);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bgImage {
    /* https://www.textures.com/browse/crumpled/101501 */
    /* https://drive.google.com/file/d/1RQxzZO-mvToJbwWVX_GY4J4LXJUzv_wf/view?usp=sharing */
    /* http://drive.google.com/uc?export=view&id= */
    /* JOIN THE TWO LINKS AFTER .../file/d/  , and before ...?usp=sharing*/
    
    /* background-image: url(https://drive.google.com/thumbnail?id=1RQxzZO-mvToJbwWVX_GY4J4LXJUzv_wf); */
    /* background-image: url("https: //drive .google .com/file/d/ 1RQxzZO mvToJbwWVX_GY 4J 4LXJUzv_wf /view;");  */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* background-blend-mode: difference; */
    background-position: center;
    
    content: "";
    position: absolute;
    width: 160%;
    height: 65%;
    top: +39%;
    left: -30%;
    z-index: -1;
    background-color: #ddd; /* Fallback background color */
    /* background-size: cover; Cover entire pseudo-element area */
    /* transform: rotate(90deg); css rotate background image, css background rotate */
    
  }

iframe {
  border: solid;
  border-width: 10px;
  border-radius: 12px;
  border-style:ridge;
  border-color: black;
  background-color: white;
  /* width:100%; */
  width: 400px;
  margin-bottom: 100px;
  

  /* scale: 1.3 1; */
  /* width:300%; */
}

p {
  letter-spacing: 0.px;
}

.title {
  color: white;
}


.donate_box {
  /* width: 100%; */
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 10px; 
}

.donateLink:link, .donateLink:visited {
  background-color: black;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  border-radius: 15px;
}

.donateLink:hover, .donateLink:active {
  background-color:#3e3e3e;
  transition: background-color 0.3s ease;
}


@media screen and (max-width: 1000px) {
  /* p {
    padding-left: 0;
    padding-right: 0;
    transition-property: all;
  } */

}

/* Page Divider */

:root {
  /* Height of the cut*/
  --cut: 100px;
}

body {
  min-height: 100vh;
  font-family: "Trebuchet MS", sans-serif;
}

.donor-page .title {
  align-self: flex-start;
  margin-left: 5%; /* Match .donorList horizontal offset */
}


/* ********** */
/* Background */
/* ********** */



.donor-page {
  z-index: -2;
  /*  Deep Princeton orange to light orange  */
  /* background: linear-gradient(135deg, , );*/
  /* background-image: linear-gradient(to bottom right,#E67725, var(--orange), #FFB347); */
  min-height: 100vh;
  /* padding: 60px 20px; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

	font-size: .8em;
  
	background-color: var(--orange);
	background-image:
		linear-gradient(
		    25deg,
			  transparent 65%,
			  var(--line-color),
			  transparent 70%
		    ),
		linear-gradient(
		    -25deg,
			  transparent 65%,
			  var(--line-color),
			  transparent 70%
		    ),
		linear-gradient(
		    -25deg,
			  transparent 30%,
			  var(--line-color),
			  transparent 35%
		    ),
		linear-gradient(
		    25deg,
			  transparent 30%,
			  var(--line-color),
			  transparent 35%
		    ),		
		
		linear-gradient(
		    65deg,
			  transparent 65%,
			  var(--line-color),
			  transparent 70%
		    ),
		linear-gradient(
		    -65deg,
			  transparent 65%,
			  var(--line-color),
			  transparent 70%
		    ),
		linear-gradient(
		    -65deg,
			  transparent 30%,
			  var(--line-color),
			  transparent 35%
		    ),
		linear-gradient(
		    65deg,
			  transparent 30%,
			  var(--line-color),
			  transparent 35%
		    );
	background-size: 
		5em 2em,
		5em 2em,
		5em 2em,
		5em 2em,
		
		2em 5em,
		2em 5em,
		2em 5em,
		2em 5em;
}

section {
  background-color: #404040;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section h1 {
  font-size: 2.5rem;
  color: #404040;
  background-color: whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  text-transform: uppercase;
} */

/* .tilt {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  Clip the bottom part of this section
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - var(--cut)));
  Higher z-index value than next section
  z-index: 3;
  position: relative;
} */

.triangle {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--cut)),
    50% 100%,
    0 calc(100% - var(--cut))
  );
  /*Close the gap with the previous section*/
  margin-top: calc(var(--cut) * -1);
  
  /* Higher z-index value than next section */
  z-index: 2;
  position: relative;
}

/* *********** */
/*    Donors   */
/* *********** */

.donors {
  width: 100%;
  /* height: 1000px; */
  display: flex;
  background: black;
  margin-top: calc(var(--cut) * -1);
  z-index: 1;
  position: relative;
}

.donorList {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.donorLable {
  text-align: center;
  color: var(--orange);
  padding:0px;
  margin: 0px;
  width:100%;;

}

.brands {
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3rem;


  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li.brands__item {
  flex: 0 0 50%;
  /* background: #eee; */
  list-style: none;
  padding:0px;
  width: 200px;
  height: 100px;
  max-width: 200px;
  max-height: 100px;
}

.brands__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  /* width: 100%; */

  object-fit: contain;
}

.brands__item img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: block;
  /* Make sure max-width is added */
  max-width: 100%;
  max-height: 100%;
  
  object-fit: contain;
  /* mix-blend-mode: multiply; */
}

/* .brands__item img[src$=".jpg"], .brands__item img[src$=".png"] {
    mix-blend-mode: multiply;
} */

@media (min-width: 700px) {
  .brands__item {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 1100px) {
  .brands__item {
    flex: 0 0 25%;
  }
}
