* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}



/* select the nav container and apply properties */
.footer-container{
   background-color: var(--gray);
   overflow: auto;
   /* apply flex to get right and left navigations in a row */
   display: flex;
   /* push both the blocks to the edges using justify-content */
   justify-content: space-between;
}

/* target the ul and remove the bullets */
.socials, .footer-left{
   list-style-type: none;
}
.footer-left li {
   padding: 0px;
}

/* change li display property from block to inline block */
.socials li, .footer-left li{
   display: inline-block;
}
/* style the anchor elements */
.socials li a, .footer-left li a{
   text-decoration: none;
   display: flex;
   width: 100%;
   height: 100%;
   font-size: 15px;
   color: #333;
   padding: 2vw 1vw;
   font-weight: normal;
   font-family: Montserrat;
}
/* apply hover */
.socials li a:hover, .footer-left li a:hover{
   background-color: #ddd;
}

#bottom-logo {
   padding: 0px 5px;
   height: 80px;
}

.footer-text {
   font-size: 15px;
   color: #333;
   background-color: var(--gray);
   padding: 2vw, 1vw;
   font-family: Montserrat;
}

.bg {
   background-color: var(--gray);
}

@media screen and (max-width: 1053px) {
   .links{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;
      padding: 15px 0;
   }

   .footer-container{
   overflow-wrap: anywhere;
   
   }

}