* {
  padding: 0px;
  margin: 0px;
}

html {
   background-color: #f1f5f9;
   font-family: "trasandina";
   width: 100%;
   overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 3.20px;
  font-size: 50px;
  text-align: left;
  padding-top: 15%;
  padding-left: 5%;
  padding-bottom: 50px;
  color: rgb(239, 238, 238);
}

.aero-bullet{
  color: #2A6790;
  font-size: 46px;
  font-family: Limelight;
  font-weight: 400;
  word-wrap: break-word;
}

.princeton-bullet{
  color: #E67725;
  font-size: 46px;
  font-family: Rajdhani;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
}

b{
  font-weight: 400;
  color: #2A6790;
}

video {
  display: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro-text{
  color: black;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1.60px;
  padding-left: 50px;
  /* padding-right: 50px; */
}
.sub-text{
  color: black;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1.60px;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.home-description {
  display: relative;
  width: 100vw;
  height: 100px;
}

.title{
  width: 100vw;
  color: black;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3px;
  word-wrap: break-word;
  padding-left: 50px;
  padding-top: 100px;
}

h2 {
  width: 100vw;
  color: black;
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3.20px;
  word-wrap: break-word;
  padding-left: 50px;
  padding-top: 50px;
}
.link{
  text-decoration: underline;
  width: 100vw;
  color: black;
  font-family: Montserrat;
  font-weight: 400;
  text-decoration: underline;
}

.donate_box {
  width: 100vw;
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}

p {
  color: black;
  font-size: 32px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 1.60px;
}