/* Notes 
  - Please Comment Code
  - The information below is ordered by relevance
    and use frequency
  
*/

/*************/
/*    ALL    */
/*************/
* {
  padding: 0px;
  margin: 0px;
  
}

/*************/
/* VARIABLES */
/*************/

:root {
  --bgcolor:#f1f5f9;
  --orange: #E67725;
  --accent: black;
  --gray: rgb(203, 203, 203);
  /* --accent: #2A6790; WE ARE NOT USING THIS */
  --tfont: "Montserrat";
  --maxWidth: 700px;
}

/***********/
/* GENERAL */
/***********/

html {
  background-color: var(--bgcolor);
  font-family: "trasandina";
  width: 100%;
  overflow-x: hidden;
  
}
/* p h1, h2, .sub-text {
  max-width: 1000px;
} */

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  font-family: var(--tfont);
  font-weight: 400;
  letter-spacing: 3.20px;
  font-size: 50px;
  text-align: left;
  padding-top: 15%;
  padding-left: 500px;
  padding-bottom: 50px;
  color: white;
}

h2 {
  width: 100vw;
  color: black;
  font-size: 40px;
  font-family: var(--tfont);
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3.20px;
  word-wrap: break-word;
  padding-left: 50px;
  padding-top: 50px;
}

p {
  color: black;
  font-size: 25px;
  font-family: var(--tfont);
  font-weight: 400px;
  letter-spacing: 1.60px;
  padding: 10px 40px;
}

li {
  color: black;
  font-size: 25px;
  font-family: var(--tfont);
  font-weight: 400px;
  letter-spacing: 1.60px;
  padding: 10px 20px;
}

b {
  font-weight: bold;
  color: var(--accent);
}

em {
  font-style: italic;
  font-weight: bold;
  text-decoration:underline;
}

hr {
  size: 0.001px;
  color: var(--gray);
  /* margin-top: 40px;  */
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

table, th, td {
  border:1px solid black;
  /* padding: 2vw; */
  overflow-x: auto;
  /* width:100%; */
  align-content: flex-start;
  /* table-layout: auto; */
  /* display:table-column; */
  /* min-width: 700px; */
  
}

/* th { */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: flex-start; */
  /* overflow-x: auto; */
  /* width:100%; */
/* } */

ul ol {
  display: block;
  list-style-type: disc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.textLink {
  /* background: #a3d7ef; */
  
  /*
  font-size: 12pt;
  font-family: sans-serif;
  color: #fff; */
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  padding: 50px 15px;
  width: 150px;
  font-weight: bold;
  color: black;
  
  /* z-index: 2; */
  
}
.textLink::after {
  width: 100;
  
  height: 0;
  background: black;
  content: '';
  position: absolute;
  top: 40%;
  /* left: 12px; */
  left:10%;
  opacity: 0;
  transition: all 0.3s ease-out;
  margin: auto;
  white-space:nowrap;
}
.textLink:hover::after {
    opacity: 1;
    top: 70px;
    height: 4px;
}


/**********/
/* ADD-IN */
/**********/

video {
  display: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}

.bigVid {
  display: flex; 
  align-items: center;
  border-color: black;
  border-bottom-width: 5px;
  /* border-width: 1px; */
  border-style: solid;
  /* border: 4px solid black; */
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.2); */
}

/* FOR IMAGES FROM GOOGLE DRIVE*/
.image {
  /* INSERT DRIVE URL where it says <your_id> */
    /*  everyting after this: https://drive.google.com/file/d/......... */
  background-image: "http://drive.google.com/uc?export=view&id=<your_id>";
}

.link{
  text-decoration: underline;
  /* width: 100vw; */
  color: black;
  font-weight: 400;
  text-decoration: underline;
}
.link:hover {
  /* color: var(--orange); */
  opacity: 0.6;
}

/****************/
/* SPECIAL TEXT */
/****************/

.intro-text{
  color: black;
  font-size: 25px;
  font-family: var(--tfont);
  font-weight: 400;
  letter-spacing: 1.60px;
  padding-left: 50px;
  /* padding-right: 50px; */
  font-weight: 500;
}

.sub-text{
  color: black;
  font-size: 18px;
  font-family: var(--tfont);
  font-weight: 400;
  letter-spacing: .01px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;

}

.hcontainer { /* Heading Container */
  width: 100%;
  max-width: 1200px; /* adjust based on your design */
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.text-block {
  width: 1000px;            /* Fixed width of the text block */
  max-width: 100%;          /* Allow the text block to resize up to 100% of its container */
  margin: 0 auto;           /* Centers the block horizontally */
  text-align: justify;      /* Justifies the text */
  padding: 0px;            /* Adds margin inside the block */
  box-sizing: border-box;   /* Ensures padding doesn't overflow the block */
  style: line-height 100a;
  /* font-size: 20px; */
}

.home-description {
  display: relative;
  width: 100vw;
  height: 100px;
}

.title{
  width: 100vw;
  max-width: 1000px;
  color: black;
  font-size: 64px;
  font-family: var(--tfont);
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 3.20px;
  word-wrap: break-word;
  padding-left: 40px;
  padding-top: 100px;
}

.main-para {
  /* color: black;
  font-weight: bold; */
  color: white;
  /* width: 50%; */
  float:right;


  max-width: 100%;
  padding-left: 10000px;
  /* padding: 20px 100px; */
  z-index: 1;
  font-size: 5vw;
  
  position: absolute;
  display: flex; 
  /* text-align: center; */
}

/**********/
/* BULLET */
/**********/

.aero-bullet{
  color: black;
  font-size: 46px;
  font-family: Limelight;
  font-weight: 400;
  word-wrap: break-word;
}

.princeton-bullet{
  color: var(--orange);
  font-size: 46px;
  font-family: Rajdhani;
  font-weight: 400;
  letter-spacing: 4px;
  word-wrap: break-word;
}
@media (max-width: 768px) {
  li, p {
    font-size: 15px;

  }
  h1, .title {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
}