* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* select the nav container and apply properties */
.nav-container{
   padding-left: 36px;
   padding-right: 16px;
   background: white;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   justify-content: space-between;
   align-items: center;
   display: flex;
   min-height: 81px;
}

.logo{
   display: flex;
   overflow: hidden;
}

.aero{
   color: black;
   font-size: 18px;
   font-family: Limelight;
   font-weight: 400;
   word-wrap: break-word;
   padding-top: 18px;
   padding-left: 10px;
   text-decoration: none;
}
.princeton{
   color: black;
   font-size: 18px;
   font-family: Rajdhani;
   font-weight: 400;
   letter-spacing: 0.90px;
   word-wrap: break-word;
   padding-top: 18px;
   text-decoration: none;
}
.pages{
   list-style-type: none;

}
.pages li{
   display: inline-block;
   padding: 20px;
}
.pages a{
   text-decoration: none;
   color: black;
   font-size: 20px;
   font-family: Montserrat;
   font-weight: 400;
}

.pages a:hover {
   color: #2A6790;
}

.join-item a:hover, .donate-item a:hover{
   color: #9bc5e2;
}

.join, .join:visited, .join:link{
   width: 76px;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: black;
   border-radius: 2px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   display: flex;
   color: white;
}

.donate, .donate:visited, .donate:link{
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 8px;
   padding-bottom: 8px;
   background-color: #E67725;
   border-radius: 2px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   display: flex;
   color: white;
   word-wrap: break-word;
}

img {
   padding-top: 2px;
   padding-right: 4px;
   height: 55px;
}

.home-logo{
   text-decoration: none;
   padding: 0px;
   align-items: center;
}

.hamburger {
   display: none;
}

.mobile_only {
   display: none;
   padding: 0px;
}

/* .mobile_only a {
   display: none;
} */
@media screen and (max-width: 993px) {
   .logo {
      /* position: fixed; */
      /* top: 0;
      left: 0;
      padding-left: 36px;
      padding-top: 11px; */
   }
   .pages li {display: none;}
   .hamburger {
      display: flex;
      /* position: fixed;
      top: 0;
      right: 0;
      padding-top: 28px;
      padding-right: 36px; */
   }
   .pages.mobile {
      display: flex;
      flex-direction: column;
      background-color: red;
      padding: 0px;
   }
   .pages.mobile li{
      display: flex;
      justify-content: center;
      float: left;
      
   }
   .pages.mobile a {
      float: left;
      display: flex;
      text-align: left;
   }
 }