---
import "../styles/global.css";
import "../styles/bullet.css";
import Layout from "../layouts/Layout.astro";
const title = "About Us";
---

<Layout pageTitle={title}>
	<h1 class="title">About Us</h1>
	<div class="bullet-about-us">
		<p class="intro-text" style="padding-bottom: 200px">
			<b class="aero-bullet">Aero</b><b class="princeton-bullet">Princeton</b> is
			<br></be>the only student-run club building full-scale, piloted aircraft in the world. The goal of the AeroPrinceton Aviation Club is to teach technical skills and apply them in a team setting to create a fully functional FAA approved Airplane.
		</p>

		<!-- <div class="bullet-image">
			<img src="/plane3.jpg">
		</div> -->
	</div>

	<!-- <p> - The goal of the AeroPrinceton Aviation Club is to teach individuals technical aviation skills and apply them with strategy, design, teamwork, and problem solving to create functional, FAA approved airplanes. </p>
	<ul>
		<li>
			Members shall be granted access to certain club-specific documents and applicable information. 
		</li>
		<li>
			Members shall be provided with the resources to become Qualified members.
		</li>
		<li>
			Members may be given responsibilities and tasks that contribute to the well functioning of the club.
		</li>
	</ul>

	to add in about us:

	member heirarchy:
	- member
	- qualified member
	- officer
	- supervisor

	nick (pic is wrong, find another with his face), will, angela contacts + pictures/contact etc. (format like the slidedeck)
	send vids of nick and will flying

	events/aboutus?
	timeline of club + vision

	events/aboutus?
	what has been done already:
	- going to virginia (small important pics, talk to will) (2/17 or 2/10 unclear date)
	- going to southern nj to talk to NJ Teen Aviation, learning from them how to build planes (weekend 23)
	- date for getting non-profit status
	- date of tax exemption

	name list (people that've done stuff)

	to add in home page:
	progress bar for donations
	501c3 no tax/free (yehyun?), you get a tax deductible!
	build like spacex
	replace pic with zenith 750 pic that's taken apart
	prolly add more pics for proof of concept
	
	(in footer)
	Information about being a non-profit (licensed with NJ state)
	
	(idk section)
	Way to sign up for club/newsletter (google forms)
		- this could be you! (pics of will/nick flying and building)


	bullet reformat add headings etc.
	|
	|
	V
	Goal: The goal of the club is to build functional planes,
i.e. Kitplanes (aircraft built from a prefabricated kit of parts) 
Assisted by anyone with an interest in aviation;
Especially, Engineers
With the benefit of developing skills in,
Planning,
Design,
Communication,
Teamwork,
Hands-on Construction,
Problem Solving,
Culminating in the production of a tangible, functional final product with real world implications.

Section 2. The status “Qualified” will be extended by a supervisor to those members who undergo the training and have been taught and have demonstrated competency on the proper use of necessary tools.
Section 3.  Qualified Member Privileges:
Qualified Members receive all the privileges of members and,
Qualified Members may visit the hangar with the club,
Qualified Members may work on the plane under supervision and explicit direction.
Section 2.  Qualified Member Limitations:
A Qualified Member may not work on the plane alone.
A Qualified Member may have this status revoked if proven to be uncooperative, dangerous, or deemed unfit by a monitoring supervisor. -->

</Layout>