---
import "../styles/global.css";
import "../styles/bullet.css";
import "../styles/aboutUs.css";
import Layout from "../layouts/Layout.astro";
const title = "About Us";
import { Image } from 'astro:assets';
---

<Layout pageTitle={title}>
	<div class="bigVid">
		<h1 class="main-para">
			About Us
		</h1>
		<video playsinline autoplay muted loop id="background-video">
			<source src="/video2.mp4" type="video/mp4">
		</video>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="text-block">
		<div class="bullet-about-us">
			<p class="intro-text">
				<b class="aero-bullet">Aero</b><b class="princeton-bullet">Princeton</b>
				</be>
				is the <em>only</em> college student-run club building full-scale, 
				piloted aircraft <em>in the world.</em> 
				<br>
				<br>
				Our goal is to teach students technical 
				skills and apply them to create a 
				fully-functional FAA approved Airplane.
				<br>
			<br>
			<br>
			<br>
			</p>
			<br>
			<br>
			<br>
			<br>
			<div class="bullet-image">
				<img src="/plane3.jpg">
			</div>
			<div class="bullet-image">
				<img src="/Zenith_Riviting.JPG" style="margin-right: 20px;">
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="values-goals-wrapper">
		<!-- Our Values -->
		<div class="values">
		  <h2>Our Values</h2>
		  <ul>
			<li>We aim to provide students with a unique opportunity to apply 
				classroom subjects directly to aviation in a practical, hands-on way.</li>
			<li>Teach students skills in riveting, wiring, and metal work, etc. and applying 
				them to create a fully functional FAA approved Airplane.</li>
			<li>Support other Colleges in starting their own airplane building clubs.</li>
		  </ul>
		</div>
	  
		<!-- Goals -->
		<div class="goals">
		  <h2>Goals</h2>
		  <ol>
			<li>Design and build a completely original plane of our own design.</li>
			<li>Create the <u>first ever</u> transcontinental collegiate air race using self-built airplanes.</li>
			<li>Assist in pilot license (PPL) acquisition.</li>
			<li>Count build hours toward an Aircraft-and-Powerplant Mechanic License.</li>
		  </ol>
		</div>
	</div>
	<br>
	<br>

</Layout>