---
import "../styles/global.css";
import "../styles/bullet.css";
import "../styles/aboutUs.css";
import Layout from "../layouts/Layout.astro";
const title = "About Us";
---

<Layout pageTitle={title}>
	<div class="bigVid">
		<h1 class="main-para">
			About Us
		</h1>
		<video playsinline autoplay muted loop id="background-video">
			<source src="/video2.mp4" type="video/mp4">
		</video>
	</div>
	
	<br>

	<div class="bullet-about-us">
		<p class="intro-text">
			<b class="aero-bullet">Aero</b><b class="princeton-bullet">Princeton</b>
			</be>
			is the <em>only</em> college student-run club building full-scale, 
			piloted aircraft <em>in the world.</em> 
			<br>
			<br>
			Our goal is to students teach technical 
			skills and apply them to create a 
			fully-functional FAA approved Airplane.
		</p>
		<br>
		<div class="bullet-image">
			<img src="../public/plane3.jpg">
		</div>
	</div>

	<table style="width:100%">
		<tr>
		  	<td>

				<h2>Our Values</h2>
				
				We aim to provide students with a unique opportunity to apply 
				classroom  subjects directly to aviation in a practical, 
				hands-on way. 
				<br><br>
				Teach students skills in riveting, wiring, and 
				metal work, etc. and applying them to create a fully functional FAA 
				approved Airplane.
				<br><br>
				Support other Colleges in starting their own airplane building clubs.
				<br><br>
				
			</td>
			<td>
				<h2>Goals</h2>
				<ul>	
					<li>Design and build a completely original 
					plane of our own design</li>
					<br>
					<li>Create the <u>first ever</u> transcontinental 
					collegiate air race in self-built airplanes.</li>	
					<br>
					<li>Assist in pilot license (PPL) acquisition.</li>
					<br>
					<li>Counting build hours toward an 
					Aircraft-and-Powerplant Mechanic License</li>
				</ul>
				
				
			</td>
		</tr>
	</table>
		<br>
		<br>

</Layout>