---
import "../styles/global.css";
import "../styles/bullet.css";
import "../styles/aboutUs.css";
import Layout from "../layouts/Layout.astro";
const title = "About Us";
---

<Layout pageTitle={title}>
	<div class="bigVid">
		<h1 class="main-para">
			About Us
		</h1>
		<video playsinline autoplay muted loop id="background-video">
			<source src="/video2.mp4" type="video/mp4">
		</video>
	</div>
	
	<br>
	<div class="text-block">
		<div class="bullet-about-us">
			<p class="intro-text">
				<b class="aero-bullet">Aero</b><b class="princeton-bullet">Princeton</b>
				</be>
				is the <em>only</em> college student-run club building full-scale, 
				piloted aircraft <em>in the world.</em> 
				<br>
				<br>
				Our goal is to students teach technical 
				skills and apply them to create a 
				fully-functional FAA approved Airplane.
			</p>
			<br>
			<div class="bullet-image">
				<img src="/plane3.jpg">
			</div>
		</div>
	</div>

	<div class="values-goals-wrapper">
		<!-- Our Values -->
		<div class="values">
		  <h2>Our Values</h2>
		  <p>
			We aim to provide students with a unique opportunity to apply 
			classroom subjects directly to aviation in a practical, hands-on way.
			<br>
			<br>
			Teach students skills in riveting, wiring, and metal work, etc. and applying 
			them to create a fully functional FAA approved Airplane.
			<br>
			<br>
			Support other Colleges in starting their own airplane building clubs.
		  </p>
		</div>
	  
		<!-- Goals -->
		<div class="goals">
		  <h2>Goals</h2>
		  <ul>
			<li>Design and build a completely original plane of our own design</li>
			<li>Create the <u>first ever</u> transcontinental collegiate air race in self-built airplanes.</li>
			<li>Assist in pilot license (PPL) acquisition.</li>
			<li>Count build hours toward an Aircraft-and-Powerplant Mechanic License</li>
		  </ul>
		</div>
	  </div>
		<br>
		<br>

</Layout>