---
import "../styles/global.css";
import "../styles/event.css";
import Layout from "../layouts/Layout.astro";
const title = "Events";
---

<Layout pageTitle={title}>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Collapsible with Arrow</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

  <div class="timeline">
    <div class="container right">
      <button class="collapsible">Click me</button>
      <div class="collcontent">
        <div class="content">Some content here.</div>
      </div>
    </div>
  </div>

  <script src="script.js"></script>
</Layout>
