---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
const title = "Events";
---

<Layout pageTitle={title}>
	<h1 class="title">Events</h1>
	<p class="intro-text" style="padding-bottom: 300px;">Stay tuned for our first meeting! <br><br>During construction, we will be taking Enterprise CarShare to the Princeton Airport every week.</p>
</Layout>