---
import "../styles/global.css";
import "../styles/bullet.css";
import Layout from "../layouts/Layout.astro";
const title = "Home";
---

<Layout pageTitle={title}>
	<!-- background video -->
	<div>
		<h1 style="position: absolute;">
			Student-Powered<br>Flight
		</h1>
		<video playsinline autoplay muted loop id="background-video">
			<source src="/video.mp4" type="video/mp4">
		</video>
	</div>
	<div class="bullet">
		<p>
			At
			<br><b class="aero-bullet">Aero</b><b class="princeton-bullet">Princeton</b><b class="princeton-bullet" style="color: black">,</b>
			<br>we believe that <b>everyone</b>
			<br>should be able to fly.
		</p>

		<div class="bullet-image">
			<img src="/plane1.png">
		</div>
	</div>
	<div class="bullet">
		<div class="bullet-image">
			<img src="/plane2.png">
		</div>
		<p>
			<a class="sub-heading" href="/join">Join Us</a>
			<br><br>in building a kit plane 
			<br>and experience the thrill
			<br>of flight.
		</p>
	</div>
	<!-- <img class="main-photo" src="/Zenith_Plane.jpg">  -->
</Layout>