---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
const title = "Home page";
---

<Layout pageTitle={title}>
	<!-- background video -->
	<video playsinline autoplay muted loop id="background-video">
		<source src="src/assets/zenith-video.mp4" type="video/mp4">
	</video>
	<div class="home-header">
		<h1>
			AeroPrinceton
		</h1>
	</div>
	<div class="home-description">
		<h2>
			Skibidi.
		</h2>
		<h2>
			Toilet.
		</h2>
		<h2>
			Rizz.
		</h2>
	</div>
	<img class="main-photo" src="src/assets/Zenith_Plane.jpg"> 
</Layout>