---
import "../styles/global.css";
import "../styles/bullet.css";
import Layout from "../layouts/Layout.astro";
const title = "Home";
---

<!-- todo: fix "student-powered flight" centering on mobile -->
<!-- todo: fix pic weird outline -->

<Layout pageTitle={title}>
	<!-- background video -->
	<div style="display: flex; align-items: center;">
		<h1 class="main-para" style="display: flex; padding-left: 10%;">
			Student-Powered<br>Flight
		</h1>
		<video playsinline autoplay muted loop id="background-video">
			<source src="/video.mp4" type="video/mp4">
		</video>
	</div>
	<div class="bullet">
		<p>
			At
			<br><b class="aero-bullet">Aero</b><b class="princeton-bullet">Princeton</b><b class="princeton-bullet" style="color: black">,</b>
			<br>we believe that <b>everyone</b>
			<br>should be able to fly.
		</p>

		<div class="bullet-image">
			<img src="/plane1.png">
		</div>
	</div>
	<hr size="5px" color="black" style="margin-top: 40px; margin-left: 50px; margin-right: 50px;">
	<div class="text-para">
		<p> We are a group run by Princeton University students, whose mission is to provide students with hands-on experience, teaching individuals skills in riveting, wiring, and metal work, etc. and applying them with strategy, design, and problem solving to create a fully functional FAA-approved airplanes, helping to expand upon our in-class education. Eventually we hope to expand our organization to start similar clubs at other colleges, and create what we believe to be the first air-race of this kind. </p>
	</div>
	<hr size="5px" color="black" style="margin-left: 50px; margin-right: 50px; margin-bottom: 50px;">
	<div class="bullet">
		<div class="bullet-image">
			<img src="/plane2.png">
		</div>
		<p>
			<a class="sub-heading" href="/join">Join Us</a>
			<br><br>in building a kit plane 
			<br>and experience the thrill
			<br>of flight.
		</p>
	</div>
	<!-- <img class="main-photo" src="/Zenith_Plane.jpg">  -->
</Layout>