---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Bullet from "../layouts/Bullet.astro";
const title = "Home page";
---

<Layout pageTitle={title}>
	<!-- background video -->
	<div>
		<h1>
			personal flying, <br>for <b>everyone</b>.
		</h1>
		<video playsinline autoplay muted loop id="background-video">
			<source src="/zenith-video.mp4" type="video/mp4">
		</video>
	</div>
	<Bullet>

	</Bullet>
	<img class="main-photo" src="/Zenith_Plane.jpg"> 
</Layout>