---
import "../styles/global.css";
import "../styles/join.css";
import Layout from "../layouts/Layout.astro";
const title = "Join Us";
---

<Layout pageTitle={title}>
   <div class="top">
      <h1 class="title">Join Us</h1>
      <p class="intro-text">If you love Top Gun, LEGOs, and explosions, this may be the club for you. No experience is needed: only passion! Consider becoming a member and hearing about how you can build and fly in the plane of your dreams. Sign up <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSdgt5V55_2ZB1Sw09vuNB78PyrEcBkruERLJoU_r7VsFwISig/viewform?usp=header">here</a>.</p>
   </div>
   <div class="bgImage">
      <div class="google-form">
         <iframe seamless="seamless" style="border: none;" src="https://docs.google.com/forms/d/e/1FAIpQLSdgt5V55_2ZB1Sw09vuNB78PyrEcBkruERLJoU_r7VsFwISig/viewform?embedded=true" width="900" height="1295" >Loading…</iframe>
      </div>
   </div>
</Layout>