---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
const title = "Donate page";
---

<Layout pageTitle={title}>
	<p> google form </p>
   <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgt5V55_2ZB1Sw09vuNB78PyrEcBkruERLJoU_r7VsFwISig/viewform?embedded=true" width="640" height="1295">Loading…</iframe>
</Layout>