---
import "../styles/global.css";
import "../styles/member.css";
import Layout from "../layouts/Layout.astro";
const title = "Members";
---

<Layout pageTitle={title}>
	<script src="https://kit.fontawesome.com/f6b524d267.js" crossorigin="anonymous"></script>


	<div style="background-color: black; padding: 0 0; margin-bottom: 20px; text-align: center;">
		<!-- <h1 style="color: white; font-size: 2em; margin: 0;">Meet the Crew!</h1> -->
		<h1 style="color:white; font-weight:400; padding: 20px; margin: 0;">Meet our Leadership!</h1>
	</div>
	<div class="member-container">
		<div class="member">
			<div class="member-image">
				<img src="/WillProfile.jpeg">
			</div>
			<h1>William Rogers</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:william.rogers@aeroprinceton.com">contact</a>
				<br>
				<i class="fa-solid fa-phone"></i>
				&nbsp;
				  (479) 644-9615
				<br><br>
				Co-President
				<br><br>
				170+ Hours Experience Private Pilot | RCs, Woodworking, Coding
			</p>
		</div>

		<div class="member">
			<div class="member-image">
				<img src="/nicholas_akey.png">
			</div>
			<h1>Nicholas Akey</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:nicholas.akey@aeroprinceton.com">contact</a>
				<br>
				<i class="fa-solid fa-phone"></i>
				&nbsp;
				(206) 601-3704
				<br>
				<br>
				Co-President
				<br><br>
				90+ Hours Experience Private Pilot | Rocketry Leadership, Circuits
			</p>
		</div>

		<div class="member">
			<div class="member-image">
				<img src="/angela_han.jpeg">
			</div>
			<h1>Angela Han</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:angela.han@aeroprinceton.com">contact</a>
				<br><br>
				Chief Financial Officer
				<br><br>
				Daily Princetonian Business Project Manager, USG CCA E-Board, GS 2025 Apprenticeship
			</p>
		</div>
	</div>
	<hr size="5px" color="gray">
	<br>
	<br>
	<br>


	<div class="member-container">
		<div class="member">
			<div class="member-image">
				<img src="/julian_fente.png">
			</div>
			<h1>Julian Fente</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:julian.fente@aeroprinceton.com">contact</a>
				<br>
				<br>
				Logistics Officer
				<!-- <br><br>
				Logistics description -->
			</p>
		</div>

		<div class="member">
			<div class="member-image">
				<img src="/shriya_chakraborti.png">
			</div>
			<h1>Shriya Chakraborti</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:shriya.chakraborti@aeroprinceton.com">contact</a>
				<br><br>
				Technical Officer

				<!-- <br><br>
				Technical/Training descroption -->
			</p>
		</div>

		<div class="member">
			<div class="member-image">
				<img src="/yehyun_hong.jpg">
			</div>
			<h1>Yehyun Hong</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:yehyun.hong@aeroprinceton.com">contact</a>
				<br><br>
				Media Officer
				<!-- <br><br>
				Media Officer description -->
			</p>
		</div>

		<div class="member">
			<div class="member-image">
				<img src="/nick_feng.jpg">
			</div>
			<h1>Nick Feng</h1>
			<p>
				<i class="fa-solid fa-envelope"></i>
				&nbsp;
				<a class="link" href="mailto:nicholas.feng@aeroprinceton.com">contact</a>
				<br><br>
				Information Officer
				<!-- <br><br>
				Website Designer, ACM Workshop Chair, PUO -->
			</p>
		</div>
	</div>
</Layout>