---
import "../styles/footer.css";
---
<div class="bg">
   <div class="footer-container">
   <ul class="footer-left">
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/about-us/">About Us</a>
      </li>
      <li>
         <a href="/events/">Events</a>
      </li>
      <li>
         <a href="/members/">Members</a>
      </li>
      <li>
         <a href="/donate/">Donate</a>
      </li>
      <!-- and so on with different pages -->
   </ul>
   <ul class="socials">
      <li>
         <!-- socials -->
         <img src="/transparentlogo.svg" id="bottom-logo">
      </li>
   </ul>
   
   </div>
   <p class="footer-text">© AeroPrinceton&emsp;501(c)(3) Nonprofit </p>
</div>