---
import "../styles/topnav.css";
---
<nav class="nav-container">
   <ul class="left-side">
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/about-us/">About Us</a>
      </li>
      <li>
         <a href="/events/">Events</a>
      </li>
      <li>
         <a href="/donate/">Donate</a>
      </li>
      <!-- and so on with different pages -->
   </ul>
   <ul class="right-side">
      <li>
      <img src="/blacklogo.svg">
      </li>
   </ul>
</nav>