---
import "../styles/topnav.css";
---

<nav class="nav-container">
   <div class="logo">
      <a href="/" class="home-logo">
         <img src="/transparentlogo.svg">
      </a>
         <a class="aero" href="/">Aero</a>
         <a class="princeton" href="/">Princeton</a>
      </a>
   </div>
   <ul class="pages">
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/about-us/">About Us</a>
      </li>
      <li>
         <a href="/events/">Events</a>
      </li>
      <li>
         <a href="/members/">Members</a>
      </li>
      <!-- and so on with different pages -->
   </ul>
   <ul class="pages">
      <li class="join-item">
         <a class="join" href="/join">Join</a>
      </li>
      <li class="donate-item">
         <a class="donate" href="/donate">Donate</a>
      </li>
   </ul>
</nav>