---
import "../styles/topnav.css";
---

<nav class="nav-container">
   <div class="logo">
      <img src="/transparentlogo.svg">
      <span class="aero">Aero</span>
      <span class="princeton">Princeton</span>
   </div>
   <ul class="pages">
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/about-us/">About Us</a>
      </li>
      <li>
         <a href="/events/">Events</a>
      </li>
      <li>
         <a href="/members/">Members</a>
      </li>
      <!-- and so on with different pages -->
   </ul>
   <ul class="pages">
      <li>
         <div class="join">
            <a href="/join">Join</a>
         </div>
      </li>
      <li>
         <div class="donate">
            <a href="/donate">Donate</a>
         </div>
      </li>
   </ul>
</nav>