---
import "../styles/topnav.css";
// import "../../navbar.js";
---

<!-- <script src="../scripts/navbar.js"></script> -->
<script>
   // function open_hamburger() {
   window.open_hamburger = function() {
      var x = document.getElementById("main_nav")!;
      if (x.className === "pages") {
         x.className += " mobile";
      } else {
         x.className = "pages";
      }
      console.log("TEST");
   }
</script>

<nav class="nav-container">
   <div class="logo">
      <a href="/" class="home-logo">
         <img src="/transparentlogo.svg">
      </a>
      <a class="aero" href="/">Aero</a>
      <a class="princeton" href="/">Princeton</a>
   </div>
   <ul class="pages" id="main_nav">
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/about-us/">About Us</a>
      </li>
      <li>
         <a href="/events/">Events</a>
      </li>
      <li>
         <a href="/members/">Members</a>
      </li>
      <div class="mobile_only">
         <a href="/join/">Join</a>
         <a href="/donate/">Donate</a>
      </div>
   </ul>
   <ul class="pages">
      <li class="join-item">
         <a class="join" href="/join">Join</a>
      </li>
      <li class="donate-item">
         <a class="donate" href="/donate">Donate</a>
      </li>
      <div class="hamburger">
         <a href="javascript:void(0);" onclick="open_hamburger()">
            <i class="fa fa-bars"></i>
         </a>
      </div>
   </ul>
</nav>