---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const frontmatter = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://use.typekit.net/sjw1sgl.css">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>
